input {
  margin: 1em auto;
  border-radius: 2em;
  padding: 3ex;
}

.btn-user {
  border-radius: 2em;
  padding: 1ex;
}

#showInfoSection {
  background-color: #00d1ae;
  transition: all 2s;
}

#showInfoSection:hover {
  background-color: #23f346;
  transform: scale(1.1) rotate(15deg);
  border-radius: 5em;
}
