<div class="container mt-5">
    <div class="card shadow">
        <button type="button" routerLink="/course" class="close d-flex justify-content-end mt-1 mr-2">
            <span aria-hidden="true">&times;</span>
        </button>
        <img id="info-img" src="../../assets/iconfinder_Know_1562699.png" width="150" height="150"
            class="align-self-center shadow card-top-img rounded-circle info-img" style="margin-top: -2.5em;">
        <div class="card-body text-center">
            <span class="h2">{{selectedCourse.Name}}</span>
            <p class="mt-3">Course</p>
            <div id="small-card" class=" rounded  shadow p-2">
                <table class="table table-borderless text-white">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{selectedCourse._id}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{selectedCourse.Name}}</td>
                        </tr>
                        <tr>
                            <td>Instructor</td>
                            <td>{{selectedCourse.Instructor}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p class="badge-dark p-2 rounded text-left mt-3">Students</p>

            <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of students | paginate : {
                                        id: 'myList',
                                        itemsPerPage: itemsCount,
                                        currentPage: p,
                                        totalItems: students.length
                                    }">
                            <td>{{item.id._id}}</td>
                            <td>{{item.id.Name}}</td>
                            <td>{{item.id.Email}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls class="float-left" id="myList" (pageChange)="p = $event"
                    (pageBoundsCorrection)="p=$event">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
