<style>
    .navbar {
        background-color: #1b262c;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .myActive {
        background-color: tomato;
    }

</style>


<!--Navbar blue-->
<nav class="navbar sticky-top navbar-expand-md navbar-dark shadow">
    <div class="container">


        <a class="navbar-brand" href="/home">
            <div class="logo">
                <div>
                    <img src="../../assets/iti.png" class="img-fluid" width="40" height="40" alt="iti">
                </div>
                <div class="d-none d-md-block">
                    <span class="h5">Information Technology Institute</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tex" aria-controls="tex"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pr-2" id="tex">
            <ul class="navbar-nav ml-auto">
                <li routerLinkActive="active">
                    <a class="nav-link waves-effect waves-light" routerLink="/department">Departments</a>
                </li>
                <li routerLinkActive="active">
                    <a class="nav-link waves-effect waves-light " routerLink="/course">Courses</a>
                </li>
                <li routerLinkActive="active">
                    <a class="nav-link waves-effect waves-light" routerLink="/students">Studnets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
