<section class="section-1 container-fluid">
    <div class="container pb-5">
        <div class="row pt-5 pt-5 p-1">
            <div class="info-section col-sm-12 col-md-6">
                <p class="h1 text-white">Welcome In ITI</p>
                <p class="text text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard
                    dummy text ever since the
                    1500s, when an unknown printer took
                    <br>a galley of type and scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                </p>
            </div>
            <div class="d-none d-md-flex col-md-6 justify-content-center">
                <img src="../../assets/iti.png" />
            </div>

        </div>
    </div>
</section>

<section class="container-fluid section-2">

</section>
